*{
    box-sizing: border-box;
}

.informacion-contacto{
    padding: 0 10%;    
}

form{
    margin: 40px 0;
}

form label, legend{
    display: block;
    font-size: 18px;
    margin: 0 0 10px;
}

input{
    width: 100%;
}

textarea{
    width: 100%;
}

.input-datos{
    display: block;
    margin: 0 0 20px;
    padding: 10px 15px;
    border-radius: 10px;
}

.forma-contactar label{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 200px;
    margin: 20px 0;
}

.forma-contactar input{
    width: 8%;
}

.hora-atencion{
    margin: 20px 0;
}

select{
    padding: 10px;
    border-radius: 20px;
}

.recibir-actualizaciones{
    display: flex;
    flex-direction:  row-reverse;
    justify-content: flex-end;
    margin: 20px 0;
}

.recibir-actualizaciones input {
    width: 5%;
}

.button-send{
    display: flex;
    justify-content: center;
}

.btn-enviar{
    width: 80%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    background-color: #6DD5FA;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
}

table{
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

thead{
    background-color: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 2px solid black;
    padding: 8px 15px;
}

@media (min-width: 720px){
    form label, legend{
        font-size: 20px;
    }

    .form-group{
        display: inline-block;
        margin-right: 25px;
        width: 28%;
    }

    textarea{
        width: 92%;
    }

    .btn-enviar{
        font-size: 20px;
        width: 40%;
    }
}

@media (min-width: 1100px){
    form label, legend{
        font-size: 24px;
    }

    .form-group{
        width: 30%;
    }

    textarea{
        width: 63%;
    }

    .btn-enviar{
        font-size: 24px;
    }

    .btn-enviar:hover{
        background-color: #2980b9;
        color: white;
        transition: 1s all;
        transform: scale(1.1) rotate(3deg);
    }
}

@media (min-width: 1400px){
    textarea{
        width: 62%;
    }

    .btn-enviar{
        width: 30%;
    }
}