header {
    background-color: #F7F0E7;
    padding: 20px 0px;
}

.container-header{
    width: 940px;
    position: relative;
    margin: 0px auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    color: black;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}