body{
    font-family: 'Montserrat', sans-serif;
}

main{
    width: 940px;
    margin: 0 auto;
}

.banner{
    width: 100%;
}

.principal{
    background-color: #FEFEFE;
    padding: 3em 0;
    line-height: 1.5;
}

.title-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal p{
    margin: 0 0 1em;
}

.principal strong{
    color: red;
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.mision{
    font-size: 20px;
}

.map p{
    margin: 0 0 2em;
    text-align: center;
}

.diferenciales{
    padding: 3em 0;
}

.contenidoDiferenciales{
    /* width: 960px; */
    margin: 0 auto;
}

.listaDiferenciales{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.items{
    font-style: italic;
    line-height: 1.5;
}

.items:first-letter{
    font-size: 25px;
    padding: 0 10px;
}

.items:before{
    content: "★";
}

.imgDiferenciales{
    width: 60%;
    border-radius: 5%;
    box-shadow: 10px 10px 0 #000000;
}

.imgDiferenciales:hover{
    transition: 0.5s;
    box-shadow: 10px 10px 20px 15px #000000;
}

.video{
    width: 560px;
    margin: 5em auto;
}