*{
    box-sizing: border-box;
}

.container{
    max-width: 1400px;
    margin: auto;
}

section h2{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.banner{
    width: 100%;
    height: 150px;
}

.principal{
    background-color: #FEFEFE;
    padding: 2em 3em;
    line-height: 1.5;
}

.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 5px 0;
}

.principal p{
    text-align: justify;
    margin: 0 0 0.5em;
}

.principal strong{
    color: red;
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.map{
    padding: 0 3em;
}

.map p{
    text-align: center;
    margin-bottom: 20px;
}

.diferenciales h2{
    margin: 1em 0 1em;
}

.diferenciales .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.items{
    padding-bottom: 15px;
}

.items:first-letter{
    font-size: 25px;
    padding: 0 10px;
}

.items:before{
    content: "★";
}

.contenidoDiferenciales{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenidoDiferenciales .imgDiferenciales{
    width: 60%;
    border-radius: 15px;
    box-shadow: 10px 10px 0 #000000;
    margin-top: 10px;
}

.video{
    width: 80%;
    margin: 4em auto;
}

@media (min-width: 720px) {

    .container{
        width: 600px;
    }

    .banner{
        height: 400px;
    }

    .contenidoDiferenciales{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .listaDiferenciales{
        width: 40%;
        text-align: initial;
    }

    .contenidoDiferenciales .imgDiferenciales{
        width: 40%;
        margin-top: 0;
    }

    .contenidoDiferenciales .imgDiferenciales:hover{
        transition: 0.5s;
        box-shadow: 10px 10px 20px 15px #000000;
    }

    .video {
        width: 560px;
    }
}

@media (min-width: 1200px){
    .container{
        width: 900px;
    }
}