*{
    box-sizing: border-box;
}

.container-header{
    max-width: 1400px;
    margin: auto;
}

.logo{
    width: 80px;
}

header {
    background-color: #F7F0E7;
}

header .container-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
}

header li{
    padding: 5px 0px;
}

header li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
}

nav li a:hover{
    background-color: #BFD4ED;
    border-radius: 10px;
    text-decoration: underline;
}

footer{
    text-align: center;
    background-image: url(../assets/images/productos/bg.jpg);
    padding: 40px;
}

.copyright{
    color: white;
    font-size: 13px;
    margin: 15px;
}

@media (min-width: 720px){

    .logo{
        width: 100px;
    }

    .header-fixed{
        position: fixed;
        top: 0;
        width: 100%;
    }

    header .container-header{
        padding-left: 50px;
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        padding: 0;
    }

    header nav ul{
        display: flex;
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    header li{
        padding-right: 25px;
    }

    header li a{
        font-size: 20px;
        padding: 8px 10px;
    }
}